:root {
  --random: "";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2fc;
  height: 150vh;
  width: fit-content;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  min-width: 1024px;
}
.nav .logo {
  display: flex;
  align-items: center;
  margin: auto;
  color: #e08d21;
  gap: 10px;
}

.nav .go-back a {
  border: 0.5px solid #e08d21;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin-left: 10px;
  position: relative;
  isolation: isolate;
  font-size: medium;
}
.nav .go-back a::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #e08d21;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.nav .go-back:hover a::after,
.nav .go-back:focus-visible a::after {
  transform-origin: left;
  scale: 1 1;
}

.map {
  top: 5em;
  margin: auto;
  position: relative;
  width: 1024px;
  height: 100%;
}

.container {
  position: absolute;
  border: 0.5px solid #e08d21;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  backdrop-filter: blur(3px);
  /* for apple devices */
  -webkit-backdrop-filter: blur(3px);
}
.container:hover {
  background-color: #e08d21;
  color: white;
}

.line,
.line-hover {
  position: absolute;
  width: 1px;
  z-index: -1;
}

.line::after,
.line-hover::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, #0e0afa 0%, #f80707 100%);
  animation: grow var(--random) linear infinite;
}


.hover{
  transform: scale(1.1);
}

.hidden {
  display: none;
}

@keyframes grow {
  0% {
    height: 0%;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 0%;
    bottom: 0;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.zoom {
  zoom: 150%;
}
