* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #e08d21;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e08d21c4;
}

/* header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #e3e3e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d1d1d1;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.translate {
  transform: translateY(-100%);
}

.header .logo-container {
  text-align: center;
}

.header .logo-container .logo {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.header .logo-container .count-scrapere {
  margin-top: 10px;
}

.search {
  display: flex;
  width: 400px;
}

.logo-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search .logo-search svg {
  width: 20px;
  height: 20px;
  margin-right: 50px;
  position: absolute;
  color: #e08d21;
}

.header .search input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 26px;
  outline: none;
  border: 1px solid #e08d21;
}

.header .search input::placeholder {
  color: #e08d21;
}
.header .search input:focus::placeholder {
  font-weight: bold;
}

.header .search button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
  background-color: #e08d21;
  color: #fff;
}

.header .nav-doc {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .logo {
    margin-left: 10px;
  }
  .search {
    width: 100%;
    margin: 10px;
    order: 3;
  }
  .nav-doc {
    margin-right: 10px;
  }
  .header .logo-container {
    margin-left: 15px;
  }
}

/* body */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}

.scraper-container {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
  text-transform: capitalize;
  background-color: #eeeeee;
}

.scraper-container:hover {
  box-shadow: 0px 2px 5px 0.5px rgba(80, 79, 79, 0.72);
  -webkit-box-shadow: 0px 2px 5px 0.5px rgba(80, 79, 79, 0.72);
  -moz-box-shadow: 0px 2px 5px 0.5px rgba(80, 79, 79, 0.72);
}

.scraper-logo {
  width: 200px;
  height: 200px;
}

.scraper-info {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.scraper-container img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  object-fit: contain;
}

.scraper-container:hover img {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.scraper-info .scraper-name h2 {
  font-size: 18px;
}

.scraper-info .scraper-link-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.scraper-info .scraper-link-container a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0px;
  border-radius: 10px;
  width: 80%;
  background-color: #e08d21;
}

.add-class {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #d1d1d1 !important;
}

/* media query */

@media (max-width: 768px) {
  .scraper-container {
    height: 300px;
    box-shadow: 0px 2px 5px 0.5px rgba(80, 79, 79, 0.72);
  }
  .scraper-logo {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 0;
  }
  .header .logo {
    flex-direction: column;
    font-size: small;
  }
}
