* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f6ff;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #e08d21;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hwb(34 13% 12% / 0.769);
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.header a {
  text-decoration: none;
  color: black;
}

.header .nav-links {
  margin-left: auto;
}

.header .nav-links a {
  margin: 0px 10px;
  font-weight: 600;
}
.header .nav-links a:hover {
  color: #e08d21;
}

@media (max-width: 640px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Company Container */

.company {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5em auto 20px auto;
  letter-spacing: 1px;
  font: 1.2em "Poppins", sans-serif, bold;
  width: 80%;
}
.company .company-container {
  width: 100%;
  margin: 0px 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgb(204, 219, 232) -3px -3px 6px 0px inset;
}

.company .company-container .flip-card-container {
  background-color: transparent;
  width: 250px;
  height: 200px;
  perspective: 1000px;
  margin: -4em auto 2em auto;
}

.company .company-container .flip-card-container .flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
}

.company .company-container .flip-card-container .flip-card .box,
.company .company-container .flip-card-container .flip-card .box2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgb(204, 219, 232) -3px -3px 6px 0px inset;
  padding: 15px;
}

.company .company-container .flip-card-container .flip-card .box {
  display: flex;
  justify-content: center;
}

.company .company-container .flip-card-container .flip-card .box img {
  max-width: 200px;
}

.company .company-container .flip-card-container .flip-card .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: rotateY(180deg);
}

.company .company-container .flip-card-container .flip-card .box2 a {
  text-decoration: none;
  color: black;
  width: fit-content;
}
.company .company-container .flip-card-container .flip-card .box2 a:hover {
  font-weight: 600;
}

.chart-container {
  margin: 20px;
}

#Chart {
  width: 100%;
}
/* .company .company-container .chart-about-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 1em;
  gap: 10px;
} */

/* .about h2 {
  margin: 10px 0;
  text-align: center;
}

.about p {
  text-align: justify;
  text-indent: 20px;
}

.content {
  height: auto;
}

.hideContent {
  overflow: hidden;
  height: 5em;
  position: relative;
}

.hideContent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgb(204, 219, 232, 0.6) 100%
  );
}

.show-more {
  margin-top: 10px;
  color: #e08d21;
  cursor: pointer;
  width: fit-content;
} */

@media (max-width: 1047px) {
  .company .company-container .chart-about-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .company {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .company {
    width: 100%;
  }
}

/*  */

.about a,
.job-location a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #e08d21;
  border-radius: 5px;
  text-align: center;
}

.scraper-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.scraper-details .hr {
  height: auto;
  background-color: #e08d21;
  width: 2px;
}

.scraper-details div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scraper-details div p {
  margin: auto 0px;
}

#last-update {
  text-align: center;
}

.scraper-details div h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.functionality {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.functionality a,
.functionality button,
.functionality p {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #e08d21;
  color: #fff;
  font-size: 16px;
  margin: 10px 0px;
  transition: all 0.3s;
}

.functionality a:hover,
.functionality button:hover,
.functionality p:hover {
  box-shadow: 0 0.6em 0.6em -0.3em #e08d21;
  transform: translateY(-0.25em);
}

.functionality button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.functionality a {
  margin: 10px;
  text-decoration: none;
}

@media (max-width: 640px) {
  .scraper-details .hr {
    height: auto;
    background-color: #e08d21;
    width: 2px;
  }

  .scraper-details div {
    margin: 5px;
  }
}

button div {
  margin-right: 5px;
}

.rotate {
  animation: rotate 1s linear infinite;
}

/* rotate animation */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* data */

.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 15px 0px;
}
.job {
  background-color: white;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 26px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgb(204, 219, 232) -3px -3px 6px 0px inset;
  display: flex;
  flex-direction: row;
  width: 450px;
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-JobLocation {
  margin-top: auto;
}

@media (max-width: 900px) {
  .job {
    width: 90%;
  }
}

.job-title {
  padding: 15px 15px 0px 15px;
}
.job-location {
  padding: 15px;
}
.job-company {
  padding: 15px;
}

.job-title,
.job-company {
  font-size: 1.1rem;
  font-weight: 600;
}

.job-location {
  display: flex;
  flex-direction: column;
  color: #979c9e;
  gap: 10px;
}

.location-container,
.country-container,
.job-type-container {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 15px;
}

.job_link-container {
  background-color: #201f1f;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  padding: 5px;
  text-align: center;
}
.job_link-container a {
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: all 0.2s linear 0s;
}

.job_link-container a:before {
  content: "\21D7";
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -1em;
  top: 0;
  opacity: 0;
  height: 100%;
  transition: all 0.2s linear 0s;
}

.job_link-container a:hover::before {
  opacity: 1;
}

.validate {
  color: rgb(0, 172, 0) !important;
}

.invalid {
  color: rgba(255, 0, 0, 0.938) !important;
}

.button-to-top-parent {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-items: end;
}
.button-to-top {
  padding: 10px;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  color: white;
  transition: 0.5s;
}
.button-to-top:hover {
  scale: 1.2;
}

.no-data {
  text-align: center;
  margin-top: auto;
  font-weight: 600;
}

.no-data img {
  width: 150px;
  margin-bottom: 10px;
}

/* Skeleton animation */

.skeleton-jobs {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 15px 0px;
}

.skeleton-job {
  border-top-right-radius: 16px;
  border-bottom-left-radius: 26px;
  background: #fff;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgb(204, 219, 232) -3px -3px 6px 0px inset;
  width: 400px;
}

.skeleton-job-title {
  width: 15em;
  height: 2.5em;
}
.skeleton-job-company {
  width: 5em;
  height: 1em;
}

.skeleton-job-location {
  width: 10em;
  height: 2em;
}

.skeleton-job-title,
.skeleton-job-company,
.skeleton-job-location {
  margin: 25px 15px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton-job-post {
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  padding: 15px;
  background: linear-gradient(110deg, #494747 8%, #302e2e 18%, #3d3b3b 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.error {
  color: red;
}

.warning {
  color: #e08d21;
}

.console {
  position: fixed;
  bottom: 0;
  width: 300px;
  height: 200px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #09ff00;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
.console-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  height: 100%;
  overflow:auto;
  /* hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* 
hide scrollbar for chrome, safari and opera 
*/

.console-content::-webkit-scrollbar {
  display: none;
}

.close-console {
  position: absolute;
  top: 0;
  right: 0;
  color: #09ff00;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: initial;
}

#testers, #contributors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


