* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e9e9e9;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
  flex: 1;
  display: flex;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

.header a {
  text-decoration: none;
  color: black;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  letter-spacing: 1px;
  font: 1.2em "Poppins", sans-serif, bold;
  gap: 20px;
}

.about {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.about div {
  margin: 10px 0;
  display: flex;
  justify-content: end;
}

.about h2 {
  margin: 10px 0;
  text-align: center;
}

.about p {
  text-align: justify;
  text-indent: 20px;
}

.about a,
.job-location a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #e08d21;
  border-radius: 5px;
  text-align: center;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  border: 1px solid #ccc;
  margin: auto;
  width: calc(100% - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

table td,
table th {
  padding: 10px;
  border: 1px solid #ccc;
}

tbody tr td:nth-last-child(1) {
  display: flex;
  justify-content: end;
}

thead {
  background-color: #e08d21;
  color: white;
}

td button,
td a {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #e08d21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
  height: 30px;
}

button div {
  margin-right: 5px;
}

.rotate {
  animation: rotate 1s linear infinite;
}

/* rotate animation */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media (max-width: 1047px) {
  .company {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about {
    transform: translate(0, 0);
    margin: 20px 0 0 0;
    border-radius:0;
    font: 1rem "Poppins", sans-serif, bold;
  }

  table {
    margin: 10px auto;
    display: flex;
  }

  thead {
    background-color: inherit;
  }

  th {
    background-color: #e08d21;
    margin: 1px;
  }

  td {
    margin: 1px;
  }

  table td,
  table th {
    height: 50px;
    display: flex;
    align-items: center;
  }

  thead tr,
  tbody tr {
    display: flex;
    flex-direction: column;
  }

  tbody {
    flex: 1;
  }
}

/* data */

.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
}
.job {
  background-color: white;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px black;
}

.details-container {
  padding: 10px 15px;
}

.job-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.job-title,
.job-company,
.job-location {
  margin: 15px 0px;
}

.job-location {
  display: flex;
  align-items: center;
  color: #979c9e;
  gap: 10px;
}

.job_link-container {
  background-color: #cfcfcf;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  padding: 5px;
}
.job_link-container a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validate {
  color: rgb(0, 172, 0) !important;
}

.invalid {
  color: red !important;
}

.button-to-top-parent{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-items: end;
}
.button-to-top {
  padding: 10px;
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  color: white;
}

@media (max-width: 546px) {
  .logo-company {
    width: 250px;
    height: 100px;
  }
}
